.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Home_padding {
  margin: 0px 140px;
  height: 100;
}
.appbar-main {
  height: 50px !important;
  background: #de5246;
  font-weight: bold;
  font-size: 80px;
  width: auto;
  /* padding: 8px 0px; */
}
.userCard {
  height: auto;
  transition: 2s ease-in-out;
}
.marginGrid {
  margin: 0px 10px;
}
image :hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9);
}
.butPosition {
  width: 90px !important;
}
.App-link {
  color: #09d3ac;
}

#pushable-sidebar {
  height: 100%;
  width: auto;
}
